@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


input, textarea{
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: bold;
}
::placeholder{
    text-align: center;
    padding-top: 40px;
}
#crearTarea{
    text-align: center;
    margin-top: 20%;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: bold;
}
#crearTarea #textoTarea{
    border-radius: 6px;
    width: 500px;
    height: 100px;
    border:3px solid black;
    resize: none;

}
#crearTarea #enviar{
    margin-top: 2%;
    border: 3px solid rgb(23, 194, 23);
    background: none;
    border-radius: 10px;
    width: 200px;
    height: 70px;
    transition: 0.5s;
    cursor: pointer;
    font-size: 17px;
}
#crearTarea #enviar:hover{
    background: rgb(23, 194, 23);
    color: white;
}

.contenedor{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

ol{
    padding: 0;
}
li{
    font-size: 20px;
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    background-color: rgba(221, 221, 221, 0.87);

}

p{
    margin-left: auto;
}
button{
    margin-left: auto;
    border-radius: 3px;
    padding:10px;
    background: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 0, 0);
    transition: 0.9s;
    cursor: pointer;
}
button:hover{
    background: rgb(255,0,0);
    color: rgb(0, 0, 0)
}

.tachado{
    text-decoration:line-through;
}